body {
	background-image: url("http://i.imgur.com/VW2DYbL.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
}

h1 {
	font-family: Lato,sans-serif;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer p {
	text-align: center;
}